/* Reset styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,ol,a{
  list-style: none;
  text-decoration: none;
}
/* Variables Code */
:root {
  /* Color Variables */
  --primary-color: #4E47FF;
  --secondary-color: #252432;
  --background-color: #F5F8FF;
  --text-color: #8987A1;
  /* Font Variables */
  --font-raleway: 'Raleway', sans-serif;
  --font-inter: 'Inder', sans-serif;
}
/* Common styles */
body{
  background-color: var(--background-color);
}
.container{
  max-width: 1140px;
  margin: 0 auto;
}
.common_btn{
  padding: 12px 36px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  border: none;
  cursor: pointer;
  display: inline-block;
}
/* Header style */
header{
  position: absolute;
  width: 100%;
}
.logo_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.logo_wrapper .logo h3{
  font-size: 34px;
  color: var(--primary-color);
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  font-family: var(--font-raleway);
  text-transform: uppercase;
}
/* Banner style */
.banner{
  padding: 300px 0 158px 0;
  background-image: url(../images/Hero-bg.png);
}
.banner_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 37px;
}
.banner_title{
  font-size: 65px;
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  font-family: var(--font-raleway);
  max-width: 905px;
}
/* Action style */
.action_weapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 116px 0 116px 0;
}
.action_content{
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  max-width: 517px;
}
.action_title{
  color: var(--secondary-color);
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  font-family: var(--font-raleway);
  line-height: normal;
}
.action_sub_title{
  color: var(--text-color);
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: var(--font-raleway);
  line-height: 30px;
}
.common_btn{
  line-height: none;
}
.action_img_wrapper{
  max-width: 403px;
  max-height: 428px;
  border-radius: 48px;
  overflow: hidden;
}
.action_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 48px;
}